{{ if ne .Title "Home"}}
<nav id="menu" data-aos="fadein" data-aos-duration="500" class="mobile-on">
    <div id="logo-container" class="mobile-off">
        <div id="logo"><a href="/"><img src="/images/rtc-logo-416.jpg" alt="RTC Coalition logo"></a></div>
    </div>
    <div id="nav-container">
        <h2 class="mobile-off">Toolkit</h2>
        <div class="nav-page">
            <a href="/">Home</a>
        </div>
        {{ range .Site.RegularPages }}
        <div class="nav-page">
            <a class="toolkit-link" href="{{ .Permalink }}">{{ .Title }}</a>
        </div> 
        {{ end }}
    </div>
    <div id="formsmall">
        <div class="nav-page-form">
            <div class="signup-intro">Sign up for our email list:</div>
        </div>    
        <!-- www.123formbuilder.com script begins here -->
        <script type="text/javascript" defer src="//www.123formbuilder.com/embed/4456581.js" data-role="form" data-default-width="650px"></script>
        <!-- www.123formbuilder.com script ends here -->  
    </div>
    <div id="contact-mail">
        <div class="nav-page">
            <p>Email us: <a href="mailto:info@righttocounselnyc.org" target="_blank">info@righttocounselnyc.org</a></p>
        </div>
    </div> 
</nav>
{{ else }}
<nav id="menu" data-aos="fadein" data-aos-duration="500" class="mobile-on"></nav>
{{ end }}
<nav id="menu-desktop" class="mobile-off">
        <div id="logo-container" class="mobile-off">
            <div id="logo"><a href="/"><img src="/images/rtc-logo-416.jpg" alt="RTC Coalition logo"></a></div>
        </div>
        <div id="nav-container">
            <h2 class="mobile-off">Toolkit</h2>
            <div class="nav-page">
                <a href="/">Home</a>
            </div>
            {{ range .Site.RegularPages }}
            <div class="nav-page">
                <a class="toolkit-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </div> 
            {{ end }}
        </div>
        <div id="formsmall">
            <div class="nav-page-form">
                <div class="signup-intro">Sign up for our email list:</div>
            </div>    
            <!-- www.123formbuilder.com script begins here -->
            <script type="text/javascript" defer src="//www.123formbuilder.com/embed/4456581.js" data-role="form" data-default-width="650px"></script>
            <!-- www.123formbuilder.com script ends here -->  
        </div> 
        <div id="formlarge">
            <div class="nav-page-form">
                <div class="signup-intro">Sign up for our email list:</div>
            </div> 
            <!-- www.123formbuilder.com script begins here -->
            <script type="text/javascript" defer src="//www.123formbuilder.com/embed/4457814.js" data-role="form" data-default-width="650px"></script>
            <!-- www.123formbuilder.com script ends here -->
        </div> 
        <div id="contact-mail">
            <div class="nav-page">
                <p>Email us: <a href="mailto:info@righttocounselnyc.org" target="_blank">info@righttocounselnyc.org</a></p>
            </div>
        </div>    


</nav>