div[data-role="form-footer"] {
    display: none;
}
h1 {
display: none;
}
div[data-role=input-row] {
display: flex !important;
justify-content: flex-end !important;
}


input[type="email"] {
width: 206px !important;
padding-right: 3.2rem;
}
div[data-role="page-footer"] {
display: flex;
justify-content: flex-end;
}
div[data-type="form-action-bar"] {
width: 223px !important;
}
button[data-role="submit"] {
width: 126px;
border-radius: 24px !important;
}



form[data-form-id="4457814"] input[type="email"] {
    width: 278px !important;
    margin-right: 0.8rem !important;
    height: 48px !important;
    }
    form[data-form-id="4457814"] div[data-type="form-action-bar"] {
    width: 320px !important;
    display: flex;
    justify-content: flex-start;
    }
    form[data-form-id="4457814"] button[data-role="submit"] {
    width: 160px;
    margin-left: 20px !important;
    }

