div[data-role="form-footer"] {
    display: none;
}
.form-footer.transparent-footer {
    display: none !important;
}
div[data-type="page"] {
    box-shadow: none !important;
    margin-top: 0px !important;
}
div[data-type="form-header"] h1 {
display: none;
}
div[data-role=input-row] {
display: flex !important;
justify-content: flex-end !important;
}


input[type="email"] {
/* width: 206px !important; */
width: 199px !important;
padding-right: 3.2rem;
}
div[data-role="page-footer"] {
display: flex;
justify-content: flex-end;
}
div[data-type="form-action-bar"] {
width: 223px !important;
}
@media (max-width: 767px) {
    button[data-role="submit"] {
        width: 110px;
    }  
}
button[data-role="submit"] {
/* width: 126px; */
width: 111px;
border-radius: 24px !important;
}
.form-container {
    box-shadow: none !important;
}
center {
    display: flex;
    justify-content: flex-end;
}
.tdmain-thankyou font b#id123-thankyou {
    font-size: 18px !important;
    /* width: 228px !important; */
    text-align: left !important;
    padding-right: 2.4rem;
    color: #fff;
}

form[data-form-id="4457814"] input[type="email"] {
    width: 278px !important;
    margin-right: 0.8rem !important;
    height: 48px !important;
    }
    form[data-form-id="4457814"] div[data-type="form-action-bar"] {
    width: 320px !important;
    display: flex;
    justify-content: flex-start;
    }
    form[data-form-id="4457814"] button[data-role="submit"] {
    width: 160px;
    margin-left: 20px !important;
    }

    form[data-form-id="4457814"] .tdmain-thankyou font b#id123-thankyou {
        font-size: 21px !important;
        color: #fff !important;
        text-align: left !important;
        /* width: 270px !important; */
    }

