<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">-->
    <title>{{ $.Site.Title }}</title>
    <!--<link rel="icon" type="image/png" href="/images/icons/favicon.png">-->
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/project.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div id="site-container">
      {{ block "nav" . }} {{ partial "nav" . }} {{end}}

      {{ block "main" . }}{{end}}
    </div>  
    {{ if ne .Params.type "index" }}
    {{ block "footer" . }} {{ partial "footer" . }} {{end}}
    {{ end }}

    <script src="/app.js"></script>
    
    
    <script src="/js/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/js/lib.min.js"></script>
    <script src="/js/slideout.min.js"></script> 
    <script src="/js/main.js?{{ now.Unix }}"></script> 
    <script src="/js/parallax.min.js"></script>
    
    <script>
        
      </script> 
    
  </body>
</html>
