<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">-->
    {{ $.Scratch.Set "description" "A resource designed to help implement Right to Counsel in your community." }}
    {{ if .Params.socialDescription }}
			{{ $.Scratch.Set "socialDescription" .Params.socialDescription }}
    {{ end }}
    {{ if .Params.image }}
      {{ $.Scratch.Set "socialImage" .Params.image }}
    {{ end }} 
    {{ if .Params.socialDefaultImg }}
      {{ $.Scratch.Set "socialDefaultImage" .Params.socialDefaultImg }}
    {{ end }}  
    
    <!-- General metadata -->
<meta name="description" content="{{ $.Scratch.Get "description" }}" />
<meta name='author' content='Right To Counsel Coalition' />
<!-- Facebook metadata -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="The Right to Counsel Toolkit | {{ .Title }}" />
{{ if .Params.socialDescription }}
  <meta property="og:description" content="{{ $.Scratch.Get "socialDescription" }}" />
  {{ else }}
  <meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="Right To Counsel Toolkit" />
{{ if .Params.image }}
  <meta property="og:image" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialImage" }}" />
  <meta property="og:image:secure_url" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialImage" }}" />
  {{ else if .Params.socialDefaultImg }}
  <meta property="og:image" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialDefaultImg" }}" />
  <meta property="og:image:secure_url" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialDefaultImage" }}" />
  {{ else }}
  <meta property="og:image" content="https://www.rtctoolkit.org/images/tenant-power-sm.JPG" />
  <meta property="og:image:secure_url" content="https://www.rtctoolkit.org/images/tenant-power-sm.JPG" />
{{ end }}
  <!-- Twitter metadata -->
<meta name="twitter:card" content="summary_large_image" />
<!--<meta name="twitter:site" content="@TeachingLabHQ" />-->
<meta name="twitter:title" content="The Right to Counsel Toolkit | {{ .Title }}" />
{{ if .Params.socialDescription }}
  <meta name="twitter:description" content="{{ $.Scratch.Get "socialDescription" }}" />
  {{ else }}
  <meta name="twitter:description" content="{{ $.Scratch.Get "description" }}" />
{{ end }}
{{ if .Params.image }}
  <meta name="twitter:image" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialImage" }}" />
  {{ else if .Params.socialDefaultImg }}
  <meta name="twitter:image" content="https://www.rtctoolkit.org/{{ $.Scratch.Get "socialDefaultImage" }}" />
  {{ else }}
  <meta name="twitter:image" content="https://www.rtctoolkit.org/images/tenant-power-sm.JPG" />
{{ end }}
    
    <title>{{ $.Site.Title }} | {{ .Title }}</title>
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/project.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div id="site-container">
      {{ block "nav" . }} {{ partial "nav" . }} {{end}}

      {{ block "main" . }}{{end}}
    </div>  
    {{ if ne .Params.type "index" }}
    {{ block "footer" . }} {{ partial "footer" . }} {{end}}
    {{ end }}

    <script src="/app.js"></script>
    
    
    <script src="/js/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/js/lib.min.js"></script>
    <script src="/js/slideout.min.js"></script> 
    <script src="/js/main.js?{{ now.Unix }}"></script> 
    <script src="/js/parallax.min.js"></script>
    
    <script>
        
      </script> 
    
  </body>
</html>
