{{ define "main" }}
<main id="panel" data-aos="fade-in">
    <div class="chapter content-well outer-padding">
        <div class="chapter-head">
                <div id="logo-container" class="mobile-on">
                    <div class="logo"><a href="/"><img src="/images/rtc-logo-416.jpg"></a></div>
                </div>
            <div class="chapter-arrow mobile-off">
                {{if .NextInSection }}<a href="{{ .NextInSection.Permalink }}"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Previous</h5></a>
                {{ else }}<a href="/"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Home</h5></a>{{end}}  
            </div>     
            <h1>{{ .Title }}</h1>
            <div class="chapter-arrow mobile-off">
                {{if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}"><h5 class="rightarrow">Next</h5><img class="rightarrow" src="/images/icons/rightarrow.svg"/></a>{{end}}     
            </div> 
            <div class="chapter-arrow mobile-on">
                    {{if .NextInSection }}<a href="{{ .NextInSection.Permalink }}"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Previous</h5></a>
                    {{ else }}<a href="/"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Home</h5></a>{{end}}  
                    {{if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}"><h5 class="rightarrow">Next</h5><img class="rightarrow" src="/images/icons/rightarrow.svg"/></a>{{end}}     
            </div>    
        </div>
    <hr />

    {{ .Content }}
    </div> 
        <div class="chapter-head chapter-bottom">
            <div class="chapter-arrow">
                {{if .NextInSection }}<a href="{{ .NextInSection.Permalink }}"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Previous</h5></a>
                {{ else }}<a href="/"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Home</h5></a>{{end}}  
            </div>     
            <div class="chapter-arrow">
                {{if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}"><h5 class="rightarrow">Next</h5><img class="rightarrow" src="/images/icons/rightarrow.svg"/></a>{{end}}     
            </div>    
        </div> 
</main>
{{end}}