{{ define "main" }}
<main data-aos="fade-in">
    <div class="chapter content-well">
        <div class="chapter-head">
            <div class="chapter-arrow">
                {{if .NextInSection }}<a href="{{ .NextInSection.Permalink }}"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Previous</h5></a>
                {{ else }}<a href="/"><img class="leftarrow" src="/images/icons/leftarrow.svg"/><h5 class="leftarrow">Home</h5></a>{{end}}  
            </div>     
            <h1>{{ .Title }}</h1>
            <div class="chapter-arrow">
                {{if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}"><h5 class="rightarrow">Next</h5><img class="rightarrow" src="/images/icons/rightarrow.svg"/></a>{{end}}     
            </div>    
        </div>
    <hr />

    {{ .Content }}
    </div>  
</main>
{{end}}