{{ define "main" }}
<main>
  <div id="homepage" class="content-well">
    <div class="chapter content-well">
      <div class="home-image"></div>
      <!--<img src="/images/rtc-celebration-july-2017-sm.jpg" />-->
    </div>
    {{ .Content }}
    <div class="button-block">
      <a href="/kit/introduction" class="go uppercase button">Get Started</a>
    </div>  
  </div>
</main> 
  

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
      }
      });
    }
    </script>
{{end}}
