{{ define "main" }}
<main>
  <div id="homepage" class="content-well">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra, purus tincidunt dignissim condimentum, lorem est lobortis sem, ac viverra velit sapien vel libero. Curabitur nec viverra turpis, sed porta erat. Ut luctus eros blandit justo vestibulum blandit. Donec hendrerit elit aliquet, egestas augue non, malesuada purus. Donec tempus, urna nec facilisis viverra, massa tellus viverra arcu, id maximus erat tellus ac ligula. Nulla facilisi. Quisque commodo sagittis nisl, sed eleifend orci rhoncus ac. Fusce luctus quam neque, in pulvinar tellus pharetra sit amet. Nulla vel commodo lacus. Donec sit amet erat at orci blandit imperdiet. Donec suscipit, dolor in tempus tincidunt, lorem ipsum pretium orci, id aliquet nisi lacus a ex. Donec faucibus, turpis in finibus congue, sem eros tristique dui, et consectetur metus nisl non metus. Aliquam sollicitudin venenatis nulla.

Morbi et sapien non purus commodo lobortis. Phasellus lobortis metus mattis porta placerat. Quisque id semper justo. Nullam sit amet ipsum pharetra, maximus diam eget, tempus leo. Proin blandit porttitor elit tincidunt elementum. Aenean feugiat porta velit, ac gravida eros tincidunt sit amet. Nunc vel sem pretium, elementum erat et, pulvinar sem. Quisque nec nibh at ante tristique sagittis nec vitae dui. Cras elementum justo quis nisl maximus lacinia. Etiam id orci laoreet, posuere justo ac, porttitor velit. Sed est ligula, rutrum a leo eget, fermentum luctus odio. Donec justo elit, accumsan nec semper ac, porttitor sed sem. Nulla facilisi. Donec ut gravida tellus, eget faucibus ex. In vitae ipsum nec ante molestie tempus at elementum sapien. Nulla eget justo et tellus convallis sollicitudin.

Maecenas non quam nunc. Aliquam tempus ornare lobortis. Quisque eu dictum tortor. Phasellus commodo nisl ut neque pharetra, sit amet blandit dui pharetra. Maecenas sit amet mi ornare orci ultrices interdum. Sed consequat urna quis facilisis commodo. Vivamus at neque volutpat, hendrerit mauris eget, ornare neque. Nunc vitae tellus eros. Mauris pulvinar ultricies ipsum, ut maximus mi euismod ac. Maecenas posuere leo tempus, tincidunt metus nec, suscipit enim. Cras sapien erat, pharetra at tempus vel, dignissim eu urna. Nam rhoncus, sapien quis aliquam fermentum, magna diam fringilla libero, sed mollis nunc eros sed purus. Duis varius sodales magna, in efficitur mi tempor a.

Morbi et finibus lectus. Aenean dolor quam, eleifend quis ex sit amet, sagittis facilisis metus. Donec at massa turpis. Nulla eu feugiat dui. Sed scelerisque, tellus et facilisis dictum, ex felis dignissim purus, id dapibus turpis ligula et augue. Proin eu massa tellus. Suspendisse at ante faucibus, venenatis nibh sit amet, suscipit risus. Curabitur odio ante, imperdiet eu lacinia eget, elementum eu arcu. Etiam ultrices elementum velit, eu fringilla neque finibus id. Aliquam et sem convallis, varius ligula in, vehicula est.
    </p>
  </div>
</main> 
  

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
      }
      });
    }
    </script>
{{end}}
