main {
   
    @include for-768-up {
       max-width: 75%;
       padding: 0 6.4rem;
       padding-bottom: 6.4rem;
    }
    @include for-1440-up {
        
    }
    #homepage {
        h1 {
            @include for-768-up {
                margin: 3.2rem 0 1.6rem;
            }
        }
        p:last-of-type {
            @include for-768-up {
                margin: 0 0 3.2rem;
            }
        }
    }
    .home-image {
        background-image: url("/images/rtc-celebration-july-2017-sm.jpg");
        max-width: 90%;
        height: 400px;
        background-size: cover;
        background-position-y: 50%;
        border-radius: 6px;
        margin: auto;
    }
    .chapter {
        &.content-well {
            img {
                max-width: 100%;
            }
        }
    }
    .chapter-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            text-align: center;
        }
        .chapter-arrow {
            a {
                display: flex;
                color: #222E2D;
                img.rightarrow {
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                }
                img.leftarrow {
                    margin-right: 8px;
                    position: relative;
                    top: -2px;
                }
                h5.leftarrow {
                    margin-right: 32px;
                }
                h5.rightarrow {
                    margin-left: 32px;
                }
            }
        }
        &.chapter-bottom {
            border-top: 6px solid #f3f3f3;
            margin-top: 3.2rem;
            padding-top: 3.2rem;
        }
    }
    .resource-link {
        h3 {
            margin-bottom: 1.6rem;
        }
    }
    
}